<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <title>thymeleaf模板</title>
</head>
<body>
    <div align="center">
        1.一般属性的取值(text或utext都可以替换文本)
        <p style="color:red" th:text="'hello , '+${welcomewords}"></p>
        <hr>
        2.链接路径的取值
        <br>
        <a th:href="${url}">百度</a>
        <hr>
        3.

    </div>
</body>
<script type="text/javascript">
    //在js中取数据
    alert('[[${url}]]');
</script>
</html>